@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

* {
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
}

@layer utilities {
  .grid-cols-auto {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .max-w-course-card {
    max-width: 500px;
  }

  .shadow-custom-card {
    box-shadow: 0px 4px 15px 2px rgba(0, 0, 0, 0.1);
  }
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

/* ::-webkit-scrollbar {
  display: none;
} */

@theme {
  --spacing-section-height: 400px;
}

.rich-text {
  font-size: 15px;
  color: #4a5565;
}

.rich-text p {
  margin-bottom: 16px;
}

.rich-text h1 {
  font-size: 36px;
  font-weight: 800;
  color: #252525;
  margin: 32px 0;
}

.rich-text h2 {
  font-size: 20px;
  font-weight: 700;
  color: #252525;
  margin: 24px 0;
}

.rich-text h3 {
  font-size: 18px;
  font-weight: 600;
  color: #333333;
  margin: 20px 0;
}

.rich-text h4 {
  font-size: 16px;
  font-weight: 500;
  color: #444444;
  margin: 16px 0;
}

.rich-text h5 {
  font-size: 14px;
  font-weight: 400;
  color: #555555;
  margin: 12px 0;
}

.rich-text h6 {
  font-size: 12px;
  font-weight: 400;
  color: #666666;
  margin: 8px 0;
}

.rich-text strong {
  font-weight: 700;
}

.rich-text ol {
  margin-left: 30px;
}

.rich-text ul {
  margin-left: 30px;
}

.rich-text li[data-list="bullet"] {
  list-style-type: disc;
}

.rich-text li[data-list="ordered"] {
  list-style-type: decimal;
}

.rich-text li {
  margin-bottom: 8px;
}
