@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");
@import "tailwindcss";

* {
  font-family: "Geist", sans-serif;
}

@layer utilities {
  .grid-cols-auto {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
